body {
    font-family: Arial;
    background: #f4f4f4;
}
form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
}
input, textarea, button {
    width: 100%;
    margin: 5px 0;
}
